.purge_varnish
{
  padding-left: 2px;
  width: 90%;
}

.purge_varnish table
{
  width: 80%;
}

.purge_varnish .screen
{
  background-color: #fff;
  padding-bottom: 30px;
}

.purge_varnish h2
{
  background-image: url("../image/purge16x16.png");
  background-position: left 8px center;
  background-repeat: no-repeat;
  margin: 15px 0 0;
  padding: 9px 0 9px 30px;
}

.purge_varnish .screen .desc
{
  color: #777;
  padding-left: 23px; 
}

.terminal_desc
{
  color: #777;
  padding-top: 3px; 
}

.purge_varnish table th{
  padding-right: 20px;
  text-align: right;
}
.purge_varnish table td{
  padding-right: 20px;
  text-align: left;
}

.purge_varnish input[type=text], .purge_varnish select {
  border: 1px solid #0073AA;
  border-left: 4px solid #1d8ccc;
  width: 350px;
}

.purge_varnish input[type=checkbox]{
  border: 1px solid #0073AA;
  border-left: 4px solid #1d8ccc;
}

.purge_varnish code
{
  border-left: 4px solid #1d8ccc;
  font-size: 14px;
  padding: 4px;
}

.purge_varnish input[type=submit] {
  -moz-user-select: none;
  background-color: #1d8ccc;
  border: 0 none;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: background, border-color;
  transition-timing-function: ease-in;
}

.purge_varnish ul.tab {
  background-color: #f1f1f1;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff; 
  border-top: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.purge_varnish ul.tab li {
  border-right: #eee;
  float: left;
}

.purge_varnish ul.tab li a {
  color: black;
  display: inline-block;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.purge_varnish ul.tab li a:hover {
  background-color: #ddd;
}

.purge_varnish ul.tab li a:focus, .purge_varnish .active {
  background-color: #ccc;
}

.purge_varnish.tabcontent {
  border: 1px solid #ccc;
  border-style:none!important;;
  border-top: none;
  display: none;
  padding: 6px 12px;
}

.purge_varnish .tablinks{
  font-size: 20px;
  font-weight: bold; 
}

#wpbody-content .purge_varnish dd, .purge_varnish li {
    margin-bottom: 0px;
}

.purge_varnish .hide_custom_url {
  display: none;
}

.purge_varnish .show_custom_url {
  display: block;
}