
<div class="purge_varnish">
    <div class="screen">
        <h2>Expire</h2>
        <ul class="tab">
            <li>
                <a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'post_expiration')">
                    Post expiration
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'comment_expiration')">
                    Comment expiration
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'menu_expiration')">
                    Menu links expiration
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'switch_theme')">
                    Switch Theme
                </a>
            </li>
        </ul>
        <form action="{{formAction}}" method="post">
            <div id="post_expiration" class="tabcontent">
                <h3>Post expiration</h3>
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <th width="20%"></th>
                            <td width="80%">
                                <b>Post actions</b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[post_insert_update]"
                                        value="post_updated"
                                        {{#postInsertUpdate}}checked="checked"{{/postInsertUpdate}}
                                    />
                                    <label>Post insert/update.</label><br />
                                    <span class="desc">
                                        Trigger when approved post is going to inserted/updated.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[post_status]"
                                        value="transition_post_status"
                                        {{#postStatus}}checked="checked"{{/postStatus}}
                                    />
                                    <label>Post status changed</label><br />
                                    <span class="desc">
                                        Trigger when post is published/unpublished.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[post_trash]"
                                        value="wp_trash_post"
                                        {{#postTrash}}checked="checked"{{/postTrash}}
                                    />
                                    <label>Post trash</label><br />
                                    <span class="desc">
                                        Trigger when approved post is going to trash.
                                    </span><br />
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td>
                                <b>What URLs should be expired when post action is triggered?</b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[post_front_page]"
                                        value="front_page"
                                        {{#expirePostFrontPage}}checked="checked"{{/expirePostFrontPage}}
                                        />
                                    <label>Front page</label><br />
                                    <span class="desc">
                                        Expire url of the site front page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[post_post_item]"
                                        value="post_item"
                                        {{#expirePostPostItem}}checked="checked"{{/expirePostPostItem}}                                        
                                    />
                                    <label>Post/Page</label><br />
                                    <span class="desc">
                                        Expire url of the expiring post/page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[post_category_page]"
                                        value="category_page"
                                        {{#expirePostCategoryPage}}checked="checked"{{/expirePostCategoryPage}}
                                        
                                    />
                                    <label>Category/Tag pages</label><br />
                                    <span class="desc">
                                        Expire all post/page URLs linked with category.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[post_custom_url]"
                                        value="custom_url"
                                        {{{expirePostChecked}}}
                                        class="ck_custom_url"
                                    />
                                    <label>Custom URLs</label><br />
                                    <span class="desc">
                                        Expire user-defined custom urls.
                                    </span>
                                    <div class="custom_url {{expirePostCustomUrlClass}}">
                                        <b>Enter custom URLs </b><br />
                                        <textarea
                                            rows="3"
                                            cols="70"
                                            name="purge_varnish_expire[post_custom_urls]"
                                            class="input_custom_urls">{{expirePostCustomUrls}}</textarea>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="comment_expiration" class="tabcontent">
                <h3>Comment expiration</h3>
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <th width="20%"></th>
                            <td width="80%">
                                <b>Comment actions</b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[comment_insert_update]"
                                        value="comment_post"
                                        {{#commentInsertUpdate}}checked="checked"{{/commentInsertUpdate}}
                                    />
                                    <label>Comment insert/update.</label><br />
                                    <span class="desc">
                                        Trigger when approved comment is posted on approved post.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[comment_status_changed]"
                                        value="transition_comment_status"
                                        {{#commentStatusChanged}}checked="checked"{{/commentStatusChanged}}
                                    />
                                    <label>Comment status changed.</label><br />
                                    <span class="desc">
                                        Trigger when comment is approved/unapproved.
                                    </span><br />

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td>
                                <b>
                                    What URLs should be expired when comment action is triggered?
                                </b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[comment_front_page]"
                                        value="front_page"
                                        {{#expireCommentFrontPage}}checked="checked"{{/expireCommentFrontPage}}
                                    />
                                    <label>Front page</label><br />
                                    <span class="desc">
                                        Expire url of the site front page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[comment_post_item]"
                                        value="post_item"
                                        {{#expireCommentPostItem}}checked="checked"{{/expireCommentPostItem}}
                                    />
                                    <label>Post page</label><br />
                                    <span class="desc">
                                        Expire url of the expiring post/page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[comment_custom_url]"
                                        value="custom_url"
                                        {{{expireCommentChecked}}}
                                        class="ck_custom_url"
                                    />

                                    <label>Custom URLs</label><br />
                                    <span class="desc">
                                        Expire user-defined custom urls.
                                    </span><br />
                                    <div class="custom_url {{{expireCommentCustomUrlClass}}}">
                                        <b>Enter custom URLs </b><br />
                                        <textarea
                                            rows="3"
                                            cols="70"
                                            name="purge_varnish_expire[comment_custom_urls]"
                                            class="input_custom_urls">{{expireCommentCustomUrls}}</textarea>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="menu_expiration" class="tabcontent">
                <h3>Menu links expiration</h3>
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <th width="20%"></th>
                            <td width="80%">
                                <b>Menu link actions</b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[navmenu_insert_update]"
                                        value="wp_update_nav_menu"
                                        {{#navmenuInsertUpdate}}checked="checked"{{/navmenuInsertUpdate}}
                                    />
                                    <label>Menu link insert/update/delete.</label><br />
                                    <span class="desc">
                                        Trigger on menu save action.
                                    </span><br />
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td>
                                <b>
                                    What URLs should be expired when menu save action is triggered?
                                </b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[navmenu_front_page]"
                                        value="front_page"
                                        {{#expireNavmenuFrontPage}}checked="checked"{{/expireNavmenuFrontPage}}
                                    />
                                    <label>Front page</label><br />
                                    <span class="desc">
                                        Expire url of the site front page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[navmenu_menu_link]"
                                        value="post_item"
                                        {{#expireNavmenuLink}}checked="checked"{{/expireNavmenuLink}}
                                    />
                                    <label>Menu links</label><br />
                                    <span class="desc">
                                        Expire url of menu links.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[navmenu_custom_url]"
                                        value="custom_url"
                                        {{{expireNavmenuChecked}}}
                                        class="ck_custom_url"
                                    />
                                    <label>Custom URLs</label><br />
                                    <span class="desc">
                                        Expire user-defined custom urls.
                                    </span><br />
                                    <div class="custom_url {{expireNavmenuCustomUrlClass}}">
                                        <b>Enter custom URLs </b><br />
                                        <textarea
                                            rows="3"
                                            cols="70"
                                            name="purge_varnish_expire[navmenu_custom_urls]"
                                            class="input_custom_urls">{{expireNavmenuCustomUrls}}</textarea>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="switch_theme" class="tabcontent">
                <h3>Switch theme expiration</h3>
                <table cellpadding="5">
                    <tbody>
                        <tr>
                            <th width="20%"></th>
                            <td width="80%">
                                <b>Theme actions</b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_action[theme_switch]"
                                        value="after_switch_theme"
                                        {{#afterSwitchTheme}}checked="checked"{{/afterSwitchTheme}}
                                    />
                                    <label>switch theme</label><br />
                                    <span class="desc">
                                        Trigger when theme is switched.
                                    </span><br />
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th> </th>
                            <td>
                                <b>
                                    What URLs should be expired when theme switch action is triggered?
                                </b>
                                <p>
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[wp_theme_front_page]"
                                        value="front_page"
                                        {{#expireWpThemeFrontPage}}checked="checked"{{/expireWpThemeFrontPage}}
                                    />
                                    <label>Front page</label><br />
                                    <span class="desc">
                                        Expire url of the site front page.
                                    </span><br />

                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[wp_theme_purge_all]"
                                        value="purge_all"
                                        {{#expireWpThemePurgeAll}}checked="checked"{{/expireWpThemePurgeAll}}
                                        class="ck_custom_url"
                                    />
                                    <label>All varnish cache</label><br />
                                    <span class="desc">
                                        Expire/Purge all varnish cache.
                                    </span><br />
                                    <input
                                        type="checkbox"
                                        name="purge_varnish_expire[wp_theme_custom_url]"
                                        value="custom_url"
                                        {{{expireWpThemeChecked}}}
                                        class="ck_custom_url"
                                    />
                                    <label>Custom URLs</label><br />
                                    <span class="desc">
                                        Expire user-defined custom urls.
                                    </span><br />

                                    <div class="custom_url {{expireWpThemeCustomUrlClass}}">
                                        <b>Enter custom URLs </b><br />
                                        <textarea
                                        rows="3"
                                        cols="70"
                                        name="purge_varnish_expire[wp_theme_custom_urls]"
                                        class="input_custom_urls">{{expireWpThemeCustomUrls}}</textarea>
                                    </div>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table cellpadding="5">
                <tr>
                    <th width="20%"></th>
                    <td>
                        {{{nounceField}}}
                        <input type="submit" value="Save Configurations" name="save_configurations" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
