<div class="purge_varnish">
    <div class="screen">
        <h2>Purge urls</h2>
        <form action="{{formAction}}" method="post" name="settings_form" id="settings_form">
            <table cellpadding="5">
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tbody>
                    {{#message}}
                        <tr>
                            <td></td>
                            <td>
                                <div style="border: 1px solid #ccc; padding:0px 0px 0px 20px">
                                    {{{message}}}
                                </div>
                            </td>
                        </tr>
                    {{/message}}
                    {{#urls}}
                        <tr>
                            <th width="30%">
                                {{text}}
                            </th>
                            <td width="70%">
                                <input id="urls" name="urls[]" value="" size="60" maxlength="225" type="text" />
                            </td>
                        </tr>
                    {{/urls}}
                    <tr>
                        <td></td>
                        <td>
                            {{{nounceField}}}
                            <input type="submit" value="Purge" name="purge" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
