<div class="purge_varnish">
    <div class="screen">
        <h2>Purge all</h2>
        <form action="{{formAction}}" method="post">
            <table cellpadding="5">
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tbody>
                    {{#message}}
                    <tr>
                        <td></td>
                        <td>
                            <div style="border: 1px solid #ccc; padding:0px 0px 0px 20px">
                                <ul>
                                    {{{message}}}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/message}}
                    <tr>
                        <th width="50%">
                            To clear whole site varnish cache, Click on Purge all button.
                        </th>
                        <td>
                            {{{nounceField}}}
                            <input type="submit" value="Purge all" name="purge_all" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
