<div class="purge_varnish">
    <div class="screen">
        <h2>Multisite</h2>
        <form action="{{formAction}}" method="post" name="settings_form" id="settings_form">
            <table cellpadding="5">
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tbody>
                    <tr>
                        <th width="20%"></th>
                        <td width="80%"><b>Site wide options</b>
                            <p>
                                <input
                                    type="checkbox"
                                    name="purge_varnish_sitewide_options"
                                    value="purge_varnish_sitewide_options"
                                    {{#purge_varnish_sitewide_options}}checked="checked"{{/purge_varnish_sitewide_options}}
                                />
                                <label>Use sitewide options.</label><br />
                                <span class="desc">
                                    Check to use the same options on all blogs in multisite.
                                </span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th width="20%"></th>
                        <td width="80%">
                            <b>Post actions</b>
                            <p>
                                <input
                                    type="checkbox"
                                    name="purge_varnish_multisite_action[post_insert_update]"
                                    value="post_updated"
                                    {{#post_insert_update}}checked="checked"{{/post_insert_update}}
                                />
                                <label>Post insert/update.</label><br />
                                <span class="desc">
                                    Trigger when approved post is going to inserted/updated.
                                </span><br />

                                <input
                                    type="checkbox"
                                    name="purge_varnish_multisite_action[post_status]"
                                    value="transition_post_status"
                                    {{#post_status}}checked="checked"{{/post_status}}
                                />
                                <label>Post status changed</label><br />
                                <span class="desc">
                                    Trigger when post is published/unpublished.
                                </span><br />

                                <input
                                    type="checkbox"
                                    name="purge_varnish_multisite_action[post_trash]"
                                    value="wp_trash_post"
                                    {{#post_trash}}checked="checked"{{/post_trash}}
                                />
                                <label>Post trash</label><br />
                                <span class="desc">
                                    Trigger when approved post is going to trash.
                                </span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th> </th>
                        <td>
                            <b>What URLs should be expired when post action is triggered?</b>
                            <p>
                                <input
                                    type="checkbox"
                                    name="purge_varnish_multisite_expire[front_page]"
                                    value="front_page"
                                    {{#front_page}}checked="checked"{{/front_page}}
                                    />
                                <label>All blogs front page</label><br />
                                <span class="desc">
                                    Expire url on all blogs front page.
                                </span><br />

                                <input
                                    type="checkbox"
                                    name="purge_varnish_multisite_expire[category_tags_page]"
                                    value="category_tags_page"
                                    {{#category_tags_page}}checked="checked"{{/category_tags_page}}                                        
                                />
                                <label>All blogs Category/Tag pages</label><br />
                                <span class="desc">
                                    Expire all blogs category and tag pages.
                                </span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {{{nounceField}}}
                            <input type="submit" value="Save configuration" name="save_configurations" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
