<div class="purge_varnish">
    <div class="screen">
        <h2>Terminal settings</h2>
        <form action="{{formAction}}" method="post" >
            <table cellpadding="5">
                <tbody>
                    {{#validateMessage}}
                    <tr>
                        <td ></td>
                        
                        <td>{{{validateMessage}}}</td>
                    </tr>
                    {{/validateMessage}}
                    <tr>
                        <th width="30%" valign="top">Varnish version:</th>
                        <td width="60%">
                            <select name="varnish_version" class="form-select ajax-processed">
                                {{#varnishVersionOptions}}
                                    <option value="{{value}}" {{selected}}>{{text}}</option> 
                                {{/varnishVersionOptions}}
                            </select>
                            <br />
                            <span class="terminal_desc">Select your varnish version</span>
                        </td>
                        <td width="60%">&nbsp;</td>
                    </tr>
                    <tr>
                        <th valign="top">Varnish Control Terminal:</th>
                        <td>
                            <input
                                name="varnish_control_terminal"
                                value="{{varnishControlTerminal}}"
                                size="60"
                                maxlength="128"
                                type="text"
                            />
                            <br />
                            <span class="terminal_desc">
                                Set this to the server IP or hostname that varnish runs on (e.g. 127.0.0.1:6082). This must be configured for Wordpress to talk to Varnish. Separate multiple servers with spaces.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">Varnish Control Key:</th>
                        <td>
                            <input
                                name="varnish_control_key"
                                value="{{varnishControlKey}}"
                                size="60"
                                maxlength="128"
                                type="text"
                            />
                            <br />
                            <span class="terminal_desc">
                                If you have established a secret key for control terminal access, please put it here.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">Varnish connection timeout (milliseconds):</th>
                        <td>
                            <input
                                name="varnish_socket_timeout"
                                value="{{varnishSocketTimeout}}"
                                size="60"
                                maxlength="128"
                                type="text"
                            />
                            <br />
                            If Varnish is running on a different server, you may need to increase this value.
                        </td>
                    </tr>
                    <tr>
                        <th >Status:</th>
                        <td>
                            <div class="item-list">
                                <ul>
                                    <li>
                                    {{#terminalStatuses}}
                                        {{#errorMessage}}
                                            <img 
                                                src="{{errorImage}}"
                                                align="middle"
                                                alt="Server OK: {{terminal}}"
                                                title="{{terminal}}"
                                            />The Varnish control terminal is not responding at {{terminal}}
                                        {{/errorMessage}}
                                        {{^errorMessage}}
                                            <img 
                                                src="{{okImage}}"
                                                align="middle"
                                                alt="Server OK: {{terminal}}"
                                                title="{{terminal}}"
                                            />Varnish running.
                                        {{/errorMessage}}
                                    {{/terminalStatuses}}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            {{{nounceField}}}
                            <input type="submit" value="Save Configurations" name="savecode" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
